
.display{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cornflowerblue;
}
.modal{
    
    width: 500px;
    height: 500px;
   
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: crimson;
}